/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     {{ .color.background }};
    background-alt: {{ .color.surface.container }};
    foreground:     {{ .color.text.base }};
    selected:       {{ .color.primary.base }};
    active:         {{ .color.success.base }};
    urgent:         {{ .color.error.base }};
}
