local colors = {
	primary = "{{ .color.primary.base }}",
	secondary = "{{ .color.secondary.base }}",
	tertiary = "{{ .color.tertiary.base }}",
	background = "{{ .color.background }}",
	surface = {
		container = "{{ .color.surface.container }}",
	},
}

return colors